<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}

    <title>Using SpaCy and NLTK: A 'How-to' Guide - {{ title }}</title>

    {% else %}

    <title>SpaCy and NLTK: A 'How-to' Guide</title>

    {% endif %}
    <style>
        body{
            background-color:lightblue
            
        }
        site-header{
            background-color:blue
        }
        nav{
            background-color:yellow
        }
    </style>
</head>

<body>
    <p>TEST TEST TEST</p>
    <link rel="icon" href={{url_for('static',filename='temp.jpg')}}>
    <header class="site-header">
        <style>
            
        </style>
        <nav class="navbar navbar-expand-md navbar-white bg-blue fixed-top">

            <div class="container">

                <a class="navbar-brand mr-4" style ="color: indigo;font-family:Georgia;font-size:22px;font-style:oblique;"href="/">ronancode_</a>

                <button class="navbar-toggler" type="button" style ="color:blue"data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                    

                </button>

                <div class="collapse navbar-collapse" id="navbarToggle">

                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/tutorial1" style="font-family:Georgia;font-size:15px;font-style:normal;">Practical Tutorial 1: Rule-Based Matching</a>
                        <a class="nav-item nav-link" href="/tutorial2" style="font-family:Georgia;font-size:15px;font-style:normal;">Practical Tutorial 2: Named Entity Recognition</a>
                        <a class="nav-item nav-link" href="/troubleshooting" style="font-family:Georgia;font-size:15px;font-style:normal;">Troubleshooting</a>

                    </div>

                </div>

            </div>

        </nav>

    </header>

    <main role="main" class="container">

        <div class="row">

            <div class="col-md-8">
                {% with message = get_flashed_messages(with_categories = true)%}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}

            </div>

            <div class="col-md-4">

                <div class="content-section">
                    
                    <h3 style="font-family:Georgia">Quick Navigation</h3>

                    <p class='text-muted'>

                        <ol class="list-group">


                            <li class="list-group-item list-group-item-light"><a style="font-family:Georgia" href="{{ url_for('tutorial1')}}">Rule-Based Matching</a></li>
                            <li class="list-group-item list-group-item-light"><a style="font-family:Georgia" href="{{ url_for('tutorial2')}}">Named Entity Recognition</a></li>
                            <li class="list-group-item list-group-item-light"><a style="font-family:Georgia" href="{{url_for('troubleshooting')}}">Troubleshooting</a></li>

                        </ol>

                    </p>

                </div>

            </div>

        </div>

    </main>
</body>

</html>